@charset "UTF-8";
/*Import da fonte (Contrail One; Usada no título do Menu)*/
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

nav#menu ul{
list-style: none;

}

nav#menu li{

width: 150px;
height: 23px;
text-align: center;
padding: 5px;
margin: 5px;
margin-left: 48px;
border: 1px solid black;
background-color: rgba(0,0,0,.6);

}

nav#menu h1{

text-align: center;
font-family: 'Contrail One', cursive;

}

li a{

color: white;
text-decoration: none;

}

a:hover{

color: blue;

}



