@charset "UTF-8";
/*Import da fonte (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Import da fonte(Cardo)*/
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
/*Import da fonte (Console2P)*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:radial-gradient(
      #495158,
      #23313a
    );
}
table {
    border-collapse: collapse;
    width: 50em;
    border: 1px solid #666;
    margin-top: 20px;
}
thead {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}
tr:nth-child(even) {
    background-color: #538cdb;
}
th {
    background-color:#062045;
    font-weight: normal;
    text-align: left;
    color:white;
    /*font-weight:bold;*/

}
th, td {
    padding: 0.1em 1em;
}
#titulo{
    font-family:'Cardo', serif;
    font-size:33pt;
    text-align: center;
    color:white;
}
.r{
    background-color:#3d80df
}
.btn{
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    border:none;
    padding:10px;
    cursor:pointer;
    text-decoration:none;
}
.btn-green{
    background:#3d80df;
    color:#fff;
    box-shadow:0 5px 0 #538cdb;
}