@charset "UTF-8";
/*Import da fonte (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Import da fonte(Cardo)*/
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
/*Import da fonte (Console2P)*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:radial-gradient(
      #495158,
      #23313a
    );


}
.container{
    background-color:; 
    height:500px;
    width:800px;

}
.row{
    display:flex;
    margin-top:20px ;
}
.email{
    margin-left:20px; 

}
.curso{
    margin-left:20px; 

}
.TG{
    margin-left:20px; 

}