@charset "UTF-8";
/*Import da fonte (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Import da fonte(Cardo)*/
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
/*Import da fonte (Console2P)*/

*{
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #0e0b16;
    --primary-color: #2196f3;
    --secondary-color: #255784;
  }

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #29323c, #485563);
}
table {
    border-collapse: collapse;
    width: 50em;
    border: 1px solid #666;
    margin-top: 20px;
}
thead {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}
tr:nth-child(even) {
    background-color: #538cdb;
}
th {
    background-color:#062045;
    font-weight: normal;
    text-align: left;
    color:white;
    /*font-weight:bold;*/

}
th, td {
    padding: 0.1em 1em;
}
#titulo{
    font-family:'Cardo', serif;
    font-size:33pt;
    text-align: center;
    color:white;
}
.r{
    background-color:#3d80df
}
.btn{
    position: relative;
    display: flex;
    width: 70px;
    height: 20px;
    margin-left: 30px;
    margin-bottom: 9px;
    background-color: #255784;
    border-radius: 7px;
    font-family: Consolas;
    letter-spacing: 3px;
    color: #0e0b16;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center
    
}
.btn:hover{
    background-color:#5a94c7;
    box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
      0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
    transition-delay: 0.2s;
}
